<%- include('partials/header') -%>

<div class="post">
    <p class="title">
            <h1 class="content"><%= post.title %> </h1>
            <p class="content"><%= post.content %> </p>
    </p>

</div>

<%- include('partials/footer') -%>